<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<table border="1">
    <tr>
        <th>no</th>
        <th>user name</th>
        <th>email</th>
        <th>title</th>
        <th>content</th>
    </tr>
    <%
        for(var i = 0; i < rows.length; i ++ )
        {
            var oneItem = rows[i];
            %>
            <td><%=i+1%></td>
            <td><%=oneItem.username%></td>
            <td><%=oneItem.email%></td>
            <td><%=oneItem.title%></td>
            <td><%=oneItem.content%></td>
    <%
        }
    %>
</table>
</body>
</html>